*.o
/main
.ipynb_checkpoints
*/.ipynb_checkpoints/*
__pycache__/
*.py[cod]
*/.vscode/*
.vscode

### C++ template
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.swp
*.DS_Store
.vscode
*/.vscode/*

/build/*
.env
nginx.conf

### CMake template
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Python dev
.mypy_cache
.mypy_cache/*
.python-version
