[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/marzukr/Catch2
	branch = v2.x
[submodule "external/hand-isomorphism"]
	path = external/hand-isomorphism
	url = https://github.com/marzukr/hand-isomorphism
[submodule "external/SKPokerEval"]
	path = external/SKPokerEval
	url = https://github.com/marzukr/SKPokerEval
[submodule "external/cereal"]
	path = external/cereal
	url = https://github.com/marzukr/cereal.git
