server {
	listen 80;
	root PLACEHOLDER;
	index index.html;
	server_name PLACEHOLDER;
	
	location / {
		try_files $uri $uri/ =404;
	}

	location /api {
		include proxy_params;
		proxy_pass http://localhost:5000;
	}
}
