@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

:root {
  --green: #13B95B;
  --greenHighlight: #15CB64;
}

body {
  font-family: 'Readex Pro', sans-serif;
  margin: 0;
}

.boxSpace {
  width: min(375px, 100vw);
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  height: 100vh;
}

.inputButton {
  height: 36px;
}

.inputButton > input[type=password] {
  font-size: 36pt;
  height: 36px;
  width: auto;
  border-width: 1px 0 1px 1px;
  border-color: black;
  border-radius: 6px 0 0 6px;
  box-sizing: border-box;
  vertical-align: top;
  width: calc(100% - 36px);
}

.inputButton > button {
  height: 36px;
  width: 36px;
  font-size: 16pt;
  border-radius: 0 6px 6px 0;
  border-width: 1px;
  border-color: black;
  box-sizing: border-box;
  vertical-align: top;
  background-color: var(--green);
  color: white;
  right: 0;
  position: absolute;
}

.inputButton > button:active {
  background-color: var(--greenHighlight);
}