/** NOTE: USE OF THIS FILE AND THE CORRESPONDING CLASSES IS DEPRECATED */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Readex+Pro&display=swap');

:root {
  --green: #13B95B;
  --gray: #CED3DC;
  --red: #FB3640;
  --gold: #ffd60a;
  --brightGold: #ffea80;
  --black: black;
}

body {
  font-family: 'Readex Pro', sans-serif;
  margin: 0;
  background-color: white;
  overflow: hidden;
}

.boxSpace {
  width: min(375px, 100vw);
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  height: 100vh;
}

.disabled {
  opacity: 0.25;
}

button:active:not(.disabled) {
  filter: brightness(85%);
}

button:hover:not(.disabled) {
  cursor: pointer;
}

.header {
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16pt;
  padding: 0 8pt 1vh;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  box-sizing: border-box;
}

.headerButton {
  width: 24pt;
  height: 24pt;
  font-size: 16pt;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--gray);
  border-radius: 6px;
  color: black;
  padding: 0;
}

.headerPad {
  width: 24pt;
  height: 24pt;
}
