.sectionHeader {
  margin-top: 15px;
  text-align: center;
}

.settingsInput {
  font-family: 'Readex Pro', sans-serif;
  border: none;
  font-size: 12pt;
  border-radius: 0;
}

input.settingsInput:focus-visible {
  outline: none;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.10);
  -webkit-appearance: none;
}

input.settingsInput:focus {
  outline: none;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.10);
  -webkit-appearance: none;
}

input.settingsInput:focus-within {
  outline: none;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.10);
  -webkit-appearance: none;
}

.settingsTable {
  margin-top: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  border-radius: 6px;
  overflow: hidden;
  background-color: rgba(229, 229, 229, 1);
}

.settingsTable>:not(:last-child) {
  margin-bottom: 1px;
}

.settingsTableRow {
  display: grid;
  height: 2em;
  align-items: center;
  column-gap: 1px;
  background-color: rgba(229, 229, 229, 1);
}

.settingsTableRow>* {
  width: 100%;
  background-color: white;
  padding: 6px;
  line-height: calc(24pt - 6px * 2);
  height: 24pt;
  box-sizing: border-box;
}

.blind .settingsTableRow {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.players .settingsTableRow {
  grid-template-columns: 10% 45% 45%;
  grid-template-rows: 1fr;
}

.settingsTableRow.headerRow>* {
  background-color: rgb(230, 230, 230);
  box-shadow: 1px 0 0 rgb(207, 207, 207), 0 1px 0 rgb(218, 218, 218);
}

.settingsTableRow.headerCol1>:nth-child(1) {
  background-color: rgb(230, 230, 230);
  box-shadow: 1px 0 0 rgb(218, 218, 218), 0 1px 0 rgb(207, 207, 207);
}

.settingsPlayerIdBox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12pt;
  position: relative;
}

.dealer .settingsDealerButton {
  width: 15pt;
  height: 15pt;
  background-color: black;
  border-radius: 7.5pt;
  transform: translate(0, 0);
}

.dealer .settingsIdLabel {
  color: white;
  position: absolute;
}

.settingsIdLabel {
  pointer-events: none;
}

.saveButton {
  margin-top: 30px;
  width: 100%;
  height: 1.5em;
  font-size: 20pt;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: none;
  font-family: 'Readex Pro', sans-serif;
  background-color: var(--green);
  color: white;
}

.fishbaitNameSetting {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.moveFishbaitButtons {
  display: flex;
  height: 100%;
  gap: 2pt;
}

.moveFishbaitButtons>button {
  font-size: 10pt;
  background-color: var(--gray);
  height: 100%;
  border: none;
  border-radius: 3px;
  padding: 2px 6px 3px;
  color: black;
}
