.playerNameBox {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 5px;
  padding-bottom: 6px;
  line-height: 1;
}

.playerNameBoxName {
  margin-right: 5px;
}

.cursorClass {
  border-right: 2px solid transparent; /* The typwriter cursor */
  height: 1em;
}

@keyframes cursorPulse {
  from {
    border-color: black;
  }

  50% {
    border-color: transparent;
  }

  to {
    border-color: black;
  }
}

.cursorClass.active {
  animation: cursorPulse 1s step-end 1s infinite;
}

.playerStackBox {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  padding-top: 4px;
}

.playerCardBox {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding-right: 3px;
}

.playerCardBox .cardContainer {
  margin: 10px 3px;
}

.playerCardBox .cardInnerFront {
  padding: 0 6pt;
}

.playerCardBox .cardBackPattern {
  width: calc(100% - 6px);
  height: calc(100% - 6px);
}

.playerCardBox .cardNumberLabel {
  font-size: 14pt;
  height: 14pt;
}

.playerCardBox .cardSuitLabel {
  font-size: 14pt;
  height: 14pt;
}
