[Unit]
Description=Fishbait Flask API hosted with gunicorn
Requires=network.target
After=network.target

[Service]
User=ubuntu
WorkingDirectory=PLACEHOLDER
Environment=DD_SERVICE="fishbait-api" DD_ENV="prod" DD_LOGS_INJECTION=true DD_PROFILING_ENABLED=true DD_APPSEC_ENABLED=true
ExecStart=DDTRACE_PLACEHOLDER GUNICORN_PLACEHOLDER --log-level=info -b 127.0.0.1:5000 app:app
Restart=always

[Install]
WantedBy=multi-user.target
