/* Copyright 2021 Marzuk Rashid */

.passwordGroup {
  position: absolute;
  top: 50%;
  left: 45px;
  right: 45px;
  transform: translateY(-50%);
}

.inputButton {
  height: 36px;
  display: flex;
}

.inputButton>input[type=email] {
  font-size: 18px;
  height: 36px;
  width: auto;
  border-width: 1px 0 1px 1px;
  border-color: black;
  border-radius: 6px 0 0 6px;
  box-sizing: border-box;
  vertical-align: top;
  width: calc(100% - 36px);
}

.inputButton>input[type=password]:focus {
  outline: none;
}

.inputButton>button {
  height: 36px;
  width: 36px;
  font-size: 14pt;
  border-radius: 0 6px 6px 0;
  border-width: 1px;
  border-color: black;
  box-sizing: border-box;
  vertical-align: top;
  background-color: var(--green);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
