.cardContainer {
  flex-grow: 1;
  margin: 10px 5px;
  perspective: 25vh;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  box-sizing: content-box;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 0.6s;
}

@keyframes pulse {
  from {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.05, 1.05);
  }

  to {
    transform: scale(1, 1);
  }
}

.cardContainer.active {
  animation: 1.5s linear 0.7s infinite normal none running pulse;
}

.cardContainer.active > .card {
  box-shadow: 0px 0px 5px 2px var(--gold);
}

.card.hideable {
  cursor: pointer;
}

.card.flipped {
  transform: rotateY(180deg);
  transition: transform 0.6s;
}

.cardInnerBack {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.cardBackPattern {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border-radius: 3px;
  background-color: #11a651;
  opacity: 1;
  background: repeating-linear-gradient( 45deg, #42c77b, #42c77b 2px, #11a651 2px, #11a651 10px );
}

.cardInnerFront {
  padding: 0 8pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
  z-index: 2;
  transform: rotateY(0deg);
}

.cardNumberLabel {
  font-family: 'Noto Serif', serif;
  line-height: 1;
  font-size: 20pt;
  text-align: left;
  height: 24pt;
  user-select: none;
}

.cardSuitLabel {
  font-family: system-ui, Arial, sans-serif;
  line-height: 1;
  font-size: 20pt;
  text-align: right;
  height: 20pt;
  user-select: none;
}
